{
      "folder_id": "b**p",
      "source_image_family": "ubuntu-****",
      "service_account_key_file": "packer/files/key.json",
      "zone": "ru-central1-*",
      "disk_type": "network-***",
      "subnet_id": "e***********7"
}
